*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman','Times','serif';
}
.container{
    width: 100%;
    height: 100%;
    background: #42455a;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color:#ffff;
    cursor:pointer;
    transition: all 0.2s linear;
}
.logo img{
    width: 85px;
    margin-top: -30px;
    margin-right: -2px;

}
.menu ul li:hover{
    color: #009900;

}
.signupbtn{
    top:45px;
    right:80px;
    position: absolute;
    color:#ffff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#877a17,#19f85c);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signupbtn span{
    display: block;
    padding:8px 18px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #ffff;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 30px;
    width: 640px;
    position: relative;
    margin-left: 1px;
    margin-bottom: 10px;
}
.app-text p{
    width: 650px;
    font-size:15px;
    margin: 11px 0 30px -1px;
    line-height: 25px;
    color: #ddf556;
}
.app-picture{
    width: 50%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top: -40px;
    padding-left:100px ;
}
.play-btn{
    margin-left: -10px;
    margin-top: -14px;
    display: inline-flex;
}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 100%;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#877a17,#19f85c);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.play-btn-inner .fa-regular{
    padding:  5px 5px;
    font-size: 40px;
    cursor: pointer;
}
small{
    padding-top: 20px;
    margin: auto 10px;    
    cursor: pointer;
    font-size: 12px;
    color:aqua;
    letter-spacing: 3px;
}